@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.main_menu_container{
    -fx-background-color: white;
    -fx-padding: 10 10 10 10;
    -fx-spacing: 10;
}

.main_menu_container .menu{
    -fx-font-size: 2em;
}

.main_menu_container Button {
    -fx-pref-width: 200;
    -fx-pref-height: 60;
    -fx-font-size: 1.5em;
    -fx-background-color: transparent;
    -fx-border-radius: 100 100 0 0;
    -fx-alignment: top_center;
    -fx-padding: 10;
    -fx-text-fill: gray;
}

.main_menu_container Button:hover {
    -fx-cursor: hand;
    -fx-background-color: #ffeded;
}

.main_menu_container FontAwesomeIconView {
    -fx-background-color: red;
    -fx-fill : gray;
}

.main_menu_container #Title{
    -fx-font-size: 2em;
}



.rectangle {
    -fx-background-color: #EAE6D7;
    -fx-border-radius: 20%;
}


.icon {
    -fx-background-color: aqua;
}

