.pane {
    -fx-background-color: white;
}

.pane Pane {
    -fx-background-color: #F1F1F1;
}

.pane Label {
    -fx-font-family: "UlmGrotesk";
    -fx-font-size: 1.2em;
    -fx-text-fill: #808191;
}
.pane FontAwesomeIconView{
    -fx-fill: #808191;
}
.pane:hover {
    -fx-cursor: hand;
}

.pane:hover Label {
    -fx-font-family: "UlmGrotesk";
    -fx-font-size: 1.3em;
    -fx-font-weight: bold ;
    -fx-text-fill: black;
}

.pane:hover Pane{
    -fx-background-color: #61D4C3;
    -fx-padding: 5 5 5 5;
}

.pane:hover FontAwesomeIconView {
    -fx-fill: white;
    -fx-font-size: 10px;
}
