@font-face {
    font-family: "UlmGrotesk";
    src: url("/fonts/FontsFreeNetUlmGrotesk.ttf");
}

.ulm-grotesk-text {
    -fx-font-family: "UlmGrotesk";
    -fx-font-size: 16px;
}

.title
{
    -fx-font-family: "UlmGrotesk";

}

.main_container {
    -fx-background-color: white;
    -fx-border-radius: 100 100 100 100;
}

.main_menu_container{
    -fx-background-color: white;
    -fx-padding: 10 10 10 10;
    -fx-spacing: 10;
}

.main_menu_container .menu{
    -fx-font-size: 2em;
}

.main_menu_container Label{
    -fx-padding: 20 0 0 20;
    -fx-font-family: "UlmGrotesk";
    -fx-font-size: 2em;
}

.main_menu_container Button {
    -fx-pref-width: 200;
    -fx-pref-height: 60;
    -fx-font-size: 1.5em;
    -fx-background-color: transparent;
    -fx-border-radius: 100 100 0 0;
    -fx-alignment: top_center;
    -fx-padding: 10;
    -fx-text-fill: gray;
}

.main_menu_container Button:hover {
    -fx-cursor: hand;
    -fx-background-color: #ffeded;
}

.main_menu_container FontAwesomeIconView {
    -fx-background-color: red;
    -fx-fill : gray;
    -fx-font-size: 2em;
}

