.button{
    -fx-background-color: #9899A6;
    -fx-background-radius: 5;
    -fx-text-fill: white;
    -fx-border-color: #E7E7EA;
    -fx-border-radius: 5;
    -fx-pref-width: 80;
    -fx-pref-height: 30;
}